[Container]
ContainerName=calibre-web
Image=lscr.io/linuxserver/calibre-web:latest
AutoUpdate=registry

Timezone=local

UserNS=keep-id

Enviroment=DOCKER_MODS=linuxserver/mods:universal-calibre
Enviroment=OAUTHLIB_RELAX_TOKEN_SCOPE=1

Volume=calibre-config:/config:Z
Volume=/path/to/library:/books

PublishPort=10010:8083

[Install]
WantedBy=default.target
