[Container]
ContainerName=jupyter
Image=docker.io/jupyter/scipy-notebook:latest
AutoUpdate=registry

Volume=jupyter:/home/jovyan/work:Z

UserNS=keep-id

Exec=start-notebook.sh --ServerApp.token=''

PublishPort=10001:8888
Network=jupyter.network

Timezone=local

[Service]
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
