# mealie.kube
[Unit]
Description=Mealie Recipes Webapp
After=Network.target
[Container]
ContainerName=mealie
Image=ghcr.io/mealie-recipes/mealie:latest
AutoUpdate=registry

PublishPort=10006:9000

Volume=/opt/mealie/data:/app/data:Z

Environment=ALLOW_SIGNUP=true
Environment=MAX_WORKERS=1
Environment=WEB_CONCURRENCY=1
Environment=BASE_URL=https://mealie.local

Timezone=local

#Environment=OIDC_AUTH_ENABLED=true
#Environment=OIDC_SIGNUP_ENABLED=true
#Environment=OIDC_CONFIGURATION_URL=https://auth.local/.well-known/openid-configuration'
#Environment=OIDC_CLIENT_ID=mealie
##Environment=OIDC_CLIENT_SECRET=<client-secret>
#Secret=mealie-client-secret,type=env,target=OIDC_CLIENT_SECRET
#Environment=OIDC_PROVIDER_NAME=authelia
#Environment=OIDC_USER_GROUP=mealie-users
#Environment=OIDC_ADMIN_GROUP=mealie-admins
#Environment=OIDC_AUTO_REDIRECT=false
#Environment=OIDC_REMEMBER_ME=false
##Environment=OIDEC_NAME_CLAIM=mealie
#Environment=LOG_LEVEL=debug


[Install]
WantedBy=default.target

